<section id="about">
  <heading>About</heading>
  <p>
    I am a <b>PhD student in Robotics at the <a href="https://robotics.umich.edu/" target="_blank">University of Michigan</a></b>, 
    supported by the <a href="https://www.nsfgrfp.org/" target="_blank">NSF Graduate Research Fellowship</a>. 
    My research focuses on <b>force and tactile sensing</b>, <b>actuator design for biomimetic robots</b>, and 
    <b>multimodal sensing</b> (torque, visuotactile, and proprioception) for safe and adaptive robot interaction.
  </p>

  <p>
    I received my <b>B.S. in Biomedical Engineering</b> with a minor in Mathematics from 
    <a href="https://www.gatech.edu/" target="_blank">Georgia Tech</a>, where I worked on 
    medical robotics and actuation design. 
    I also conducted summer research in the <a href="https://charm.stanford.edu/" target="_blank">CHARM Lab</a> at 
    <a href="https://www.stanford.edu/" target="_blank">Stanford University</a>, 
    focusing on hardware design for soft robotic systems.
  </p>

  <p>
    My long-term research vision is to create <b>sensor-rich, backdrivable robotic systems</b> 
    that enable safety, adaptability, and performance while extending robot capabilities in unstructured environments.
  </p>
</section>
