<section id="experience">
  <heading>Experience</heading>
  <table style="width:100%; border-spacing:0; margin:auto;">
    <!-- ARCaD Lab -->
    <tr>
      <td style="width:15%; vertical-align:middle; text-align:center;">
        <img src="images/um.png" alt="UMich" style="max-width:60px;">
      </td>
      <td style="padding:10px; vertical-align:middle;">
        <b>PhD Student Researcher</b>, ARCaD Lab — Prof. Yanran Ding  
        <br>University of Michigan, Ann Arbor, MI — Aug 2024–Present
      </td>
    </tr>
    <!-- RoboMed Lab -->
    <tr>
      <td style="width:15%; vertical-align:middle; text-align:center;">
        <img src="images/gt_2.png" alt="Georgia Tech" style="max-width:60px;">
      </td>
      <td style="padding:10px; vertical-align:middle;">
        <b>Undergraduate Researcher</b>, RoboMed Lab — Prof. Jaydev Desai  
        <br>Georgia Tech, Atlanta, GA — Jan 2022–May 2024
      </td>
    </tr>
    <!-- AthletiSense -->
    <tr>
      <td style="width:15%; vertical-align:middle; text-align:center;">
        <img src="images/athletisense.png" alt="AthletiSense" style="max-width:60px;">
      </td>
      <td style="padding:10px; vertical-align:middle;">
        <b>Co-founder / Technical Lead</b> — AthletiSense  
        <br>Atlanta, GA — Jun 2023–Jan 2024
      </td>
    </tr>
    <!-- CHARM Lab -->
    <tr>
      <td style="width:15%; vertical-align:middle; text-align:center;">
        <img src="images/stanford.png" alt="Stanford" style="max-width:60px;">
      </td>
      <td style="padding:10px; vertical-align:middle;">
        <b>REU Undergraduate Researcher</b>, CHARM Lab — Prof. Allison Okamura  
        <br>Stanford University, Stanford, CA — Jun 2023–Aug 2023
      </td>
    </tr>
  </table>
</section>
