<table style="width:100%;border-spacing:0;margin:auto;">
  <tr>
    <td style="padding:2.5%;width:68.5%;vertical-align:middle">
      <p style="text-align:center"><name>Jared Grinberg</name></p>
      <p>
        PhD Student in Robotics @ University of Michigan | NSF GRFP Fellow
      </p>
      <p class="icons" style="text-align:center; font-size: 1.5rem;">
        <a href="docs/Jared_Grinberg_CV.pdf" target="_blank"><i class="fas fa-file"></i></a> &nbsp;/&nbsp;
        <a href="https://scholar.google.com/citations?hl=en&user=m3JvpC8AAAAJ" target="_blank"><i class="fas fa-graduation-cap"></i></a> &nbsp;/&nbsp;
        <a href="https://github.com/jaredgrinberg" target="_blank"><i class="fab fa-github"></i></a> &nbsp;/&nbsp;
        <a href="https://orcid.org/0009-0004-3789-8050" target="_blank"><i class="fab fa-orcid"></i></a> &nbsp;/&nbsp;
        <a href="https://linkedin.com/in/jared-grinberg" target="_blank"><i class="fab fa-linkedin"></i></a> &nbsp;/&nbsp;
        <a href="mailto:grinberg.jared@gmail.com"><i class="fas fa-envelope"></i></a>
      </p>
    </td>
    <td style="padding:2.5%;width:31.5%;max-width:40%">
      <img style="width:100%;max-width:100%" src="images/profile.jpg" alt="profile photo">
    </td>
  </tr>
</table>
