<section id="mentorship">
  <heading>Mentored Students</heading>
  <table style="width:100%; border-spacing:0; margin:auto;">
    <!-- Sajiv -->
    <tr>
      <!-- <td style="width:15%; vertical-align:middle; text-align:center;">
        <img src="images/um" alt="Undergraduate" style="max-width:40px;">
      </td> -->
      <td style="padding:10px; vertical-align:middle;">
        <b>Sajiv</b> — Undergraduate Student  
        <br>Worked on system identification and developing a motor model in Simulink.
      </td>
    </tr>
    <!-- Jyo -->
    <tr>
      <!-- <td style="width:15%; vertical-align:middle; text-align:center;">
        <img src="images/um.png" alt="Masters Student" style="max-width:40px;">
      </td> -->
      <td style="padding:10px; vertical-align:middle;">
        <b>Jyo</b> — Master’s Student  
        <br>Focused on the design of high-reduction backdrivable actuators for robotic applications.
      </td>
    </tr>
  </table>
</section>
