<section id="publications">
  <heading>Publications</heading>

  <!-- 2025 -->
  <h3>2025</h3>
  <p>
    <b>J. Grinberg</b>, Y. Ding  
    “Contact Sensing via Joint Torque Sensors and a Force/Torque Sensor for Legged Robots.”  
    <i>IEEE CASE 2025</i>, Los Angeles, CA.  
    [<a href="docs/CASE2025_Grinberg.pdf" target="_blank">PDF</a>] 
    [<a href="https://doi.org/10.1109/CASE58245.2025.11164031" target="_blank">DOI</a>] 
    [<a href="docs/CASE2025_Presentation.pdf" target="_blank">Slides</a>]
  </p>

  <p>
    Y. Qin, <b>J. Grinberg</b>, W. Heap, A. Okamura  
    “3D Steering and Localization in Pipes and Burrows Using an Externally Steered Soft Growing Robot.”  
    <i>Under review</i>. ArXiv preprint:  
    [<a href="https://arxiv.org/abs/2507.07225" target="_blank">arXiv</a>]
  </p>

  <p>
    <b>J. Grinberg</b>, Y. Ding  
    “Whole-Body Contact Sensing via Distributed Low-Cost Joint Torque Sensors for Legged Robots.”  
    <i>RoboLetics 2.0 Workshop, IEEE ICRA 2025</i>, Atlanta, GA. Oral presentation.  
    [<a href="docs/ICRA2025_Workshop_Grinberg.pdf" target="_blank">PDF</a>] 
    [<a href="docs/ICRA2025_Workshop_Poster.pdf" target="_blank">Poster</a>] 
    [<a href="https://openreview.net/forum?id=exNzT7vYWR" target="_blank">OpenReview</a>]
  </p>

  <!-- 2024 -->
  <h3>2024</h3>
  <p>
    T. A. Brumfiel, <b>J. Grinberg</b>, B. Siopongco, and J. P. Desai  
    “Design and Modeling of a Compact Spooling Mechanism for the COAST Guidewire Robot.”  
    <i>IEEE Robotics and Automation Letters</i>, vol. 9, no. 10, pp. 8874–8880, Oct. 2024.  
    [<a href="docs/RAL2024.pdf" target="_blank">PDF</a>] 
    [<a href="https://doi.org/10.1109/LRA.2024.3447466" target="_blank">DOI</a>]
  </p>
</section>
